<% provide(:title, 'All books') %>
<h1>All books</h1>

<%= will_paginate %>

<ul class="books">
<br>
  <p>book search</p>
  <%= form_tag(books_path, :method => 'get' ) do %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search', :title => nil %>
  <% end %>

<br>
  <%= link_to "Insert", new_book_path, class: "btn btn-lg btn-primary" %>
  <% @books.each do |book| %>
    <li>

      <%= link_to book.title, book %>
      <br>
      <%= link_to "delete", book, method: :delete %>

    </li>
  <% end %>

</ul>

<%= will_paginate %>